.extendButton {
    margin-right: 5px
}

.longMessageClosed {
    max-height: 30px;
    overflow-y: hidden;
    overflow-x: hidden
}

#rlc-messagebox,#rlc-sidebar {
    float: right;
    box-sizing: border-box
}

div#rlc-settings label {
    display: block;
    font-size: 1.4em;
    margin-left: 10px
}

#hsts_pixel,.bottom-area,.content,.debuginfo,.footer-parent,.save-button {
    display: none
}

#rlc-messagebox .md,#rlc-messagebox .usertext,header#liveupdate-header {
    max-width: none
}

#rlc-sendmessage,#rlc-wrapper {
    -webkit-box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    -moz-box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    box-shadow: 0 1px 2px 0 rgba(166,166,166,1)
}

#rlc-header,#rlc-wrapper,body {
    overflow: hidden
}

#new-update-form {
    margin: 0
}

.liveupdate time.live-timestamp,.liveupdate ul.buttonrow {
    display: none!important
}

#filter_tabs,#liveupdate-resources h2,#myContextMenu,#rlc-guidebar,#rlc-readmebar,#rlc-settings,select#rlc-channel-dropdown {
    display: none
}

#rlc-messagebox .usertext-edit.md-container {
    max-width: none;
    padding: 0;
    margin: 0
}

header#liveupdate-header {
    margin: 0!important;
    padding: 15px
}

h1#liveupdate-title:before {
    content: "chat in ";
    color: #000
}

h1#liveupdate-title {
    font-size: 1.5em;
    color: #9c9c9c;
    float: left;
    padding: 0
}

#rlc-header #liveupdate-statusbar {
    margin: 0;
    padding: 0;
    border: none!important;
    background: 0 0!important
}

#rlc-wrapper .liveupdate .body {
    max-width: none!important;
    margin: 0;
    font-size: 13px;
    font-family: "Open Sans",sans-serif
}

div#rlc-sidebar {
    max-height: 550px;
    background-color: #EFEFED
}

#rlc-wrapper {
    height: calc(100vh - 63px);
    max-width: 1248px;
    max-height: 600px;
    margin: 0 auto;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px
}

#rlc-header {
    height: 50px;
    border-bottom: 1px solid #e3e3e0;
    border-top: 0;
    box-sizing: border-box
}

#rlc-main,#rlc-titlebar {
    width: 76%;
    float: left;
    position: relative
}

#rlc-sidebar {
    width: 24%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 114px);
    padding-top: 20px;
    border-left: 2px solid #FCFCFC
}

#rlc-chat {
    height: calc(100vh - 202px);
    overflow-y: scroll;
    max-height: 461px
}

#rlc-main .liveupdate-listing {
    max-width: 100%;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%
}

#rlc-messagebox textarea {
    height: 34px;
    margin: 0;
    border-radius: 2px;
    padding: 6px
}

#rlc-messagebox {
    padding: 10px;
    background-color: #EFEFED;
    width: 100%
}

#rlc-sendmessage {
    background-color: #FCFCFC;
    height: 32px;
    margin: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    box-sizing: border-box
}

#rlc-toggleguide,#rlc-toggleoptions,#rlc-update {
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 0 8px;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    -moz-box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    background: #FCFCFC;
    width: 100%;
    margin-bottom: 8px
}

#rlc-toggleguide {
    margin-bottom: 0
}

.liveupdate .simpletime {
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    width: 75px;
    text-transform: uppercase;
    color: #A7A6B8;
    line-height: 32px
}

.liveupdate a.author {
    float: left;
    padding-right: 10px;
    margin: 0;
    padding-top: 0;
    font-weight: 600;
    width: 130px
}

.liveupdate-listing li.liveupdate .body .md {
    float: right;
    width: calc(100% - 220px);
    max-width: none;
    box-sizing: border-box;
    padding-right: 10px
}

li.liveupdate.in-channel .body .md {
    width: calc(100% - 320px)
}

#rlc-activeusers {
    padding: 15px 20px 20px 40px;
    font-size: 1.5em
}

#rlc-activeusers li {
    list-style: outside;
    padding: 0 0 8px
}

#rlc-settingsbar {
    width: 100%;
    height: auto;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    top: -10px
}

#rlc-main-sidebar {
    float: right;
    width: 100%
}

#rlc-sidebar hr {
    height: 2px;
    width: 100%;
    margin-left: 0;
    color: #FCFCFC
}

#rlc-sidebar h3 {
    padding: 0 10px
}

#rlc-statusbar {
    width: 24%;
    float: right;
    text-align: center;
    padding-top: 8px
}

#versionnumber {
    padding-top: 5px
}

.rlc-showoptions #rlc-settings {
    display: block
}

.rlc-showoptions #rlc-main-sidebar {
    display: none
}

.rlc-showreadmebar #rlc-readmebar {
    display: block
}

.rlc-showreadmebar #rlc-main-sidebar {
    display: none
}

.liveupdate.user-narration .body .md {
    font-style: italic
}

.liveupdate.user-mention .body .md p {
    font-weight: 700
}

body.allowHistoryScroll {
    height: 105%;
    overflow: auto
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.rlc-customscrollbars ::-webkit-scrollbar {
    width: 10px
}

.rlc-customscrollbars ::-webkit-scrollbar-track {
    background-color: #262626
}

.rlc-customscrollbars ::-webkit-scrollbar-thumb {
    background-color: #4C4C4C;
    border: 1px solid #262626
}

#myContextMenu {
    display: none;
    position: absolute;
    background: #bbb;
    box-shadow: 1px 1px 2px #888
}

#myContextMenu ul {
    list-style-type: none
}

#myContextMenu ul li a {
    padding: .5em 1em;
    color: #000;
    display: block
}

#myContextMenu ul li:not(.disabled) a:hover {
    background: #ccc;
    color: #333;
    cursor: pointer
}

#myContextMenu ul li.disabled a {
    background: #ddd;
    color: #666
}

.liveupdate pre {
    margin: 0;
    padding: 0;
    background: rgba(128,128,128,.5);
    border: #FCFCFC;
    box-sizing: border-box
}

.liveupdate a.author,.liveupdate p {
    line-height: 32px;
    min-height: 32px
}

#filter_tabs .rlc-filters>span:last-of-type {
    border-right: 0
}

.rlc-channel-add button {
    background: 0 0;
    border: 1px solid #A9A9A9;
    margin: 0;
    padding: 4px;
    border-top: 0;
    border-bottom: 0
}

#filter_tabs,div#rlc-sendmessage {
    border: none;
    box-sizing: border-box
}

.channelname {
    color: #A9A9A9!important;
    display: block;
    float: left;
    width: 100px;
    line-height: 32px
}

#filter_tabs {
    table-layout: fixed;
    width: 100%;
    height: 26px;
    position: absolute;
    display: none
}

#filter_tabs>span {
    width: 90%;
    display: table-cell
}

#filter_tabs>span.all,#filter_tabs>span.more {
    width: 60px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer
}

#filter_tabs .rlc-filters {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 24px
}

#filter_tabs .rlc-filters>span {
    padding: 5px 2px;
    text-align: center;
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.1em;
    border-right: 2px solid #262626
}

#filter_tabs .rlc-filters>span>span {
    pointer-events: none
}

#filter_tabs>span.all {
    padding: 0 30px;
    border-right: 2px solid #262626
}

#filter_tabs>span.more {
    padding: 0 30px;
    border-left: 2px solid #262626
}

.rlc-channel-add input {
    border: 0;
    padding: 0;
    height: 24px
}

#rlc-leftpanel {
    display: none
}

.left-panel #rlc-leftpanel {
    width: 14%;
    float: left;
    display: block;
    background-color: #EFEFED;
    height: calc(100vh - 114px)
}

.left-panel #rlc-sidebar,.left-panel #rlc-statusbar {
    width: 18%
}

.left-panel #rlc-main {
    width: 68%
}

#liveupdate-description {
    margin-left: 10px;
    float: left
}

.md {
    max-width: none!important
}

div#rlc-settingsbar a {
    display: inline-block
}

.liveupdate-listing li.liveupdate p {
    font-size: 13px!important
}

.rlc-showChannelsUI #new-update-form {
    width: 85%;
    float: left
}

.rlc-showChannelsUI select#rlc-channel-dropdown {
    display: block;
    width: 15%;
    height: 34px;
    float: left;
    background-color: #FCFCFC
}

.rlc-showChannelsUI #rlc-sendmessage {
    width: 100%;
    float: left
}

.rlc-showChannelsUI div#filter_tabs {
    display: block;
    z-index: 100;
    background: #EFEFED
}

.rlc-channel-add,.rlc-hideChannelsInGlobal .liveupdate.in-channel,.rlc-showChannelsUI .rlc-filter .liveupdate {
    display: none
}

.rlc-showChannelsUI .rlc-channel-add {
    position: absolute;
    top: 26px;
    width: 100%;
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
    background: #EFEFED
}

div#rlc-togglebar {
    float: right;
    display: block;
    height: 100%
}

.AutoScroll #s2autoscroll,.rlc-TextToSpeech #s2tts {
    background: rgba(0,0,0,.15)
}

#s2autoscroll,#s2loadhist,#s2tts {
    float: right;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 0 8px;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    -moz-box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    box-shadow: 0 1px 2px 0 rgba(166,166,166,1);
    width: 100px;
    margin-left: 20px;
    margin-top: 15px
}

div#rlc-settings label {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff
}

div#rlc-settings label span {
    padding-top: 3px;
    padding-bottom: 5px;
    font-size: .7em;
    text-align: right;
    display: block;
    float: right;
    padding-right: 20px
}

div#rlc-settings input {
    margin-right: 5px
}

#option-rlc-ChromeNotifications,#option-rlc-ChromeScrollBars,#option-rlc-DisableUserbasedVoices,#option-rlc-TTSUsernameNarration {
    display: none!important
}

.rlc-TextToSpeech #option-rlc-DisableUserbasedVoices,.rlc-TextToSpeech #option-rlc-TTSUsernameNarration {
    display: block!important
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #option-rlc-ChromeNotifications,#option-rlc-ChromeScrollBars {
        display:block!important
    }
}

.md.hasEmbed iframe {
    position: absolute;
    right: 0;
    top: -95px;
    width: 50%;
    transform: scale(.25,.25)
}

.md.hasEmbed .provider {
    display: none
}

.md.hasEmbed {
    position: relative;
    height: 80px;
    cursor: pointer
}

.md.hasEmbed:before {
    content: "Embedded content, click to view";
    display: block;
    position: relative;
    top: 8px;
    font-size: 12px;
    text-decoration: underline
}

.rlc-compact #header {
    display: none
}

.rlc-compact #rlc-chat {
    height: calc(100vh - 263px);
    max-height: 458px
}

.rlc-fullwidth div#rlc-chat,.rlc-fullwidth div#rlc-sidebar {
    max-height: none
}

.rlc-fullwidth #rlc-wrapper {
    max-height: none;
    max-width: none;
    height: calc(100vh - 0px)
}

.rlc-fullwidth.left-panel #rlc-statusbar {
    width: 18%
}

.rlc-fullwidth.left-panel #rlc-titlebar {
    width: 81%
}

.rlc-fullwidth div#rlc-wrapper {
    height: 100%
}

.rlc-compact.rlc-fullwidth #rlc-chat {
    height: calc(100vh - 135px)
}

.rlc-compact.rlc-fullwidth #rlc-sidebar {
    height: calc(100vh - 50px)
}

.dark-background.AutoScroll #s2autoscroll,.dark-background.rlc-TextToSpeech #s2tts {
    background: rgba(239,247,255,.25)
}

.dark-background,.dark-background #rlc-leftpanel,.dark-background #rlc-messagebox,.dark-background #rlc-messagebox textarea,.dark-background #rlc-sendmessage,.dark-background #rlc-sidebar,.dark-background #rlc-toggleguide,.dark-background #rlc-toggleoptions,.dark-background #rlc-update,.dark-background .rlc-channel-add,.dark-background option,.dark-background.rlc-showChannelsUI div#filter_tabs {
    background: #404040
}

.dark-background #rlc-sidebar {
    border: transparent
}

.dark-background.rlc-showChannelsUI select#rlc-channel-dropdown {
    background: 0 0
}

.dark-background .liveupdate code {
    color: #000
}

.dark-background #rlc-sidebar h2,.dark-background #rlc-sidebar h3,.dark-background #rlc-sidebar h4,.dark-background h1#liveupdate-title:before {
    color: #ccc
}

.dark-background #rlc-messagebox textarea,.dark-background #rlc-sidebar li,.dark-background #rlc-wrapper,.dark-background #rlc-wrapper a,.dark-background #rlc-wrapper h1#liveupdate-title,.dark-background #rlc-wrapper p,.dark-background .longMessageClosed:after,.dark-background .rlc-channel-add button,.dark-background.rlc-showChannelsUI select#rlc-channel-dropdown {
    color: #f5f5f5
}

.dark-background .alt-bgcolor {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGM6YwwAAdQBAooJK6AAAAAASUVORK5CYII=)!important
}

.alt-bgcolor {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGM6Uw8AAiABTnvshQUAAAAASUVORK5CYII=)!important
}

.mrPumpkin {
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 3px;
    background-size: 144px;
    position: relative;
    top: 6px
}

.dark-background .mrPumpkin {
    border-radius: 5px
}

.mp_frown {
    background-position: -24px 0
}

.mp_silly {
    background-position: -48px 0
}

.mp_meh {
    background-position: 0 -24px
}

.mp_angry {
    background-position: -48px -24px
}

.mp_shocked {
    background-position: -24px -24px
}

.mp_happy {
    background-position: -72px 120px
}

.mp_sad {
    background-position: -72px 96px
}

.mp_crying {
    background-position: 0 72px
}

.mp_tongue {
    background-position: 0 24px
}

.mp_xhappy {
    background-position: -48px 48px
}

.mp_xsad {
    background-position: -24px 48px
}

.mp_xsmile {
    background-position: 0 48px
}

.mp_annoyed {
    background-position: -72px 72px
}

.mp_zen {
    background-position: -48px 72px
}

.mp_wink {
    background-position: -24px 72px
}

.user-narration a.author {
    display: none
}
